 <!-- register -->
    <div class="login">
      <div class="login-screen">
        <div class="login-form">
          <div class="form-group">
            <input type="text" class="form-control login-field" value="" placeholder="Tu nombre" id="login-name">
            <label class="login-field-icon fui-user" for="login-name"></label>
          </div>          
          <div class="form-group">
            <input type="text" class="form-control login-field" value="" placeholder="Tu apellido" id="login-name">
            <label class="login-field-icon fui-user" for="login-name"></label>
          </div>          
          <div class="form-group">
            <input type="text" class="form-control login-field" value="" placeholder="E-mail" id="login-name">
            <label class="login-field-icon fui-mail" for="login-name"></label>
          </div>
          <div class="form-group">
            <input type="password" class="form-control login-field" value="" placeholder="Clave de 4 digitos" id="login-pass">
            <label class="login-field-icon fui-lock" for="login-pass"></label>
          </div>
          <a class="btn btn-primary btn-lg btn-block" href="#">Registrate</a>
        </div>
      </div>
    </div>
  <!-- end register -->