
<h1>Bienvenido <%= current_user.name %></h1>
<p>Enterate de lo que ha estado pasando en OT-Maker</p>
<br>
<div class="row">
	<div class="col-md-7">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">Ordenes de Trabajo</div>
			</div>
			<div class="panel-body">
			</div >
		</div >
	</div >
</div>
